<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="icon" href="favicon.png" />

    <title>Circle Video | Home Page</title>

    <!-- Bootstrap core CSS -->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <!-- player -->
    <link rel="stylesheet" href="/js/vendor/player/johndyer-mediaelement-89793bc/build/mediaelementplayer.min.css" />

    <!-- Theme CSS -->
    <link href="/js/vendor/magnificPopup/dist/magnific-popup.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="/css/style.css" rel="stylesheet" />
    <link href="/css/font-awesome.min.css" rel="stylesheet" />
    <link href="/css/font-circle-video.css" rel="stylesheet" />
    <!-- toastr notification -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">

    <link href="/css/custom.css" rel="stylesheet" />

    <!-- font-family: 'Hind', sans-serif; -->
    <link
      href="https://fonts.googleapis.com/css?family=Hind:400,300,500,600,700|Hind+Guntur:300,400,500,700"
      rel="stylesheet"
      type="text/css"
    />
  </head>

  <body class="<%= bodyClass %> light">
    <%- include('./_menu.ejs') %>
    <%- include('./_mobile_menu.ejs') %>
    <%- include('./_goto.ejs') %>

