.py-3 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.px-3 {
    padding-left: 30px;
    padding-right: 30px;
}

.my-3 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.c-avatar img {
    max-width: 176px;
    max-height: 157px;
}

.avatar img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 100%;
    border: 1px solid #ea2c5a;
}

.avatars a img {
    width: 70px;
    height: 70px;
    object-fit: cover;
}

.b-chanel img {
    width: 170px;
    height: 170px;
    object-fit: cover;
}

.channel .img .c-avatar img {
    width: 120px;
    height: 120px;
    object-fit: cover;
}

.btn-outline-primary {
    color: #007bff;
    background-color: transparent;
    background-image: none;
    border-color: #007bff;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.d-inline {
    display: inline;
}

.form-control select,
.form-control input {
    padding: 0 10px;
}

/* category index */
.b-category img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.b-video img {
    width: 100%;
    height: 168px;
    object-fit: cover;
}

/* artwork show */
.artwork-sm img {
    width: 100%;
    height: 120px;
    object-fit: cover;
}

/* artist show */
.upload-artwork {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;


    color: #ea2c5a;
}

.upload-artwork i {
    font-size: 68px;
}

.upload-artwork a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* shop */
.price {
    padding: 0 15px;
    font-size: x-large;
}

.for-sale {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.b-playlist img {
    max-height: 155px;
}

/* checkout */
.d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-large {
    font-size: x-large;
}

.order-sumary {
    background-color: #ccc;
}

.order-sumary .img {
    display: flex;
    justify-content: center;
}

.order-sumary img {
    max-height: 386px;
}

.order-sumary button {
    width: 100%;
}

.input-card-number {
    position: relative;
}

.input-card-number .icons {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: x-large;
}

/* top search */
.topsearch select {
    font-family: fontAwesome;
    padding: 0 15px;
    background-color: #eceff0;
    border: none;
}

.shop img {
    max-width: 48px;
    max-height: 48px;
    border-radius: 100%;
    margin-right: 10px;
}

/*  */
.v-img {
    position: relative;
}

.sale-price {
    position: absolute;
    top: 0;
    right: 0;
    background: #ea2c5a;
    padding: 15px;
    color: white;
}

.c-avatar img {
    border-radius: 100%;
    border: 1px solid #ea2c5a;
}

/* statistic card */
.stats {
    border: 1px solid #ea2c5a;
    text-align: center;
}

.bg-circle {

    background-color: #ea2c5a;
    height: 100px;
    width: 100px;
    display: inline-block;
    border-radius: 100%;
}

.bg-circle .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
    color: white;
    height: 100%;
}

/* form filter */
.input-filter {
    padding: 0 15px;
}