<%- include('../../shared/_header.ejs') %>

<div class="content-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 v-categories">
        <%- include("./_list") %>
      </div>
      
      <div class="col-lg-6 v-categories">
        <!-- all categories -->
        <div class="content-block">
          
          <div class="cb-content">
            <h1> Create new Category</h1>
            
            <%- include("_form") %>

          </div>
        </div>
        <!-- /all categories -->
      </div>
    </div>
    <div class="content-block head-div head-arrow mb-40">
          <div class="head-arrow-icon">
            <i class="cv cvicon-cv-next"></i>
          </div>
        </div>
  </div>
</div>

<%- include('../../shared/_footer.ejs') %>
</body>
</html>
