<%- include('../../shared/_header.ejs') %>

<div class="content-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 v-categories">
        <!-- all categories -->
        <%- include("./_list.ejs")  %>
        <!-- /all categories -->
      </div>
      
    </div>
    <div class="content-block head-div head-arrow mb-40">
          <div class="head-arrow-icon">
            <i class="cv cvicon-cv-next"></i>
          </div>
        </div>
  </div>
</div>

<%- include('../../shared/_footer.ejs') %>
</body>
</html>
