<div class="content-block head-div">
    <div class="cb-header">
        <div class="row">
            <div class="col-lg-10 col-sm-10 col-xs-8">
                <ul class="list-inline">
                    <li>
                        <a href="#" class="color-active">
                            <span class="visible-xs">From subcription</span>
                            <span class="hidden-xs">From subcription</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-2 col-sm-2 col-xs-4">
                <div class="btn-group pull-right bg-clean">
                    <a href="/artwork" class="btn btn-default">
                        More <span class="fa fa-caret-right"></span>
                    </a>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div class="cb-content videolist">
    <div class="row">
        <% for(const artwork of followingArtworks) { %>
        <%- include("../artwork/_artwork.ejs", {artwork}) %>
        <% } %>
    </div>
</div>