<div class="content-block head-div head-arrow">
    <div class="cb-header">
    <div class="row">
        <div class="col-lg-10 col-sm-10 col-xs-8">
        <ul class="list-inline">
            <li>
            <a href="#" class="color-active">Popular Artists</a>
            </li>
        </ul>
        </div>
        <div class="col-lg-2 col-sm-2 col-xs-4">
        <div class="btn-group pull-right bg-clean">
            <a href="/artist?sort=popular" type="button" class="btn btn-default">
            More <span class="fa fa-caret-right"></span>
        </a>
        </div>
        <div class="clearfix"></div>
        </div>
    </div>
    </div>
    <div class="cb-content chanels-row">
    <div class="row">
        <% for(const artist of artists) { %>
        <div class="col-lg-2 col-sm-4 col-xs-4">
        <div class="b-chanel">
            <a href="/artist/<%= artist._id %>">
            <!-- if avatar -->
            <% if(artist.avatar) { %>
            <img src="<%= artist.avatar %>" alt="" class="img-responsive"  />
            <!-- else  -->
            <% } else { %>
            <img src="/images/Avatar.png" alt="" class="img-responsive" />
            <% } %>

            <div class="hover">
                <span><%= artist.name %></span>
                <span><i class="cv cvicon-cv-liked"></i> <%= artist.followers.length %> Followers</span>
            </div>
            </a>
        </div>
        </div>
        <% } %>
    </div>
    </div>
</div>