<form class="u-form" method="post">
    <div class="row">
        <div class="col-lg-12">
       
            <div class="col-lg-12">
                <div class="form-group">
                    <label for="e1">Album Title<span class="text-danger">*</span></label>
                    <input type="text" name="title" value="<%= album.title %>" class="form-control" id="e1" placeholder="Title" >
                    <% if (errors.title) { %>
                        <p class="form-text text-danger"><%= errors.title.msg %></p>
                    <% } %>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="form-group">
                    <label for="e2">Description <span class="text-danger">*</span></label>
                    <textarea class="form-control" name="description" id="e2" rows="3" placeholder="Description"><%= album.description %></textarea>
                    <% if (errors.description) { %>
                    <p class="form-text text-danger"><%= errors.description.msg %></p>
                    <% } %>
                </div>
            </div>
            
        </div>
        
        <div class="u-area mt-small">
            <button class="btn btn-primary u-btn">Save</button>
        </div>
</form>